/* font face registration*/
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/rob.eot');
	src: url('../fonts/rob.eot?#iefix') format('embedded-opentype'), url('../fonts/rob.woff2') format('woff2'), url('../fonts/rob.woff') format('woff'), url('../fonts/rob.ttf') format('truetype');
}

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #FC9000;
	font-size: 32px;
	margin-top: 40px;
}

h2 {
	color: #666666;
	font-size: 26px;
}

.accordion-block {
	max-height: 200px;
	overflow-y: scroll;
}

.btn-container {
	padding-right: 0;
	padding-left: 0;
	background-color: #005edd;
	border: 1px solid #ffffff;
}

.btn-clock {
	width: 100%;
	color: #ffffff;
	border: 0;
	background-color: transparent;
	border: 1px solid #dedede;
}

.btn-clock-menu {
	width: 100%;
	color: #ffffff;
	border: 0;
	background-color: transparent;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

	.btn-clock-menu:hover {
		color: #ffffff;
		background-color: #333333;
	}

.btn-clock:hover, .btn-clock:active {
	/*background:#000000;*/
	color: #ffffff;
}

.btn-circle {
	width: 80px;
	height: 80px;
	text-align: center;
	padding: 5px;
	font-size: 20px;
	line-height: 2.00;
	border-radius: 40px;
	margin: 20px 0;
}

.btn-clock:hover, .btn-clock:active, .btn-clock .active {
	border: 3px solid #bcbcbc;
}

.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 6px 6px rgba(0,0,0,.5);
	box-shadow: inset 0 6px 6px rgba(0,0,0,.5);
}

.heading-border {
	border: 2px solid #DEDEDE;
	display: block;
	width: 20%;
}

.btn-sq-lg {
	width: 100%;
	height: 150px !important;
	border-radius: 0;
	padding: 36px 20px 5px 20px;
	white-space: normal;
}

.top-bar {
	background-color: #000000;
	text-align: center;
}

.main-logo {
	max-width: 140px;
	margin: 0 auto;
	padding: 14px 0 8px 0;
}

.splash-container {
	background-color: #000000;
}

.splash-logo {
	position: absolute;
	left: 5%;
	bottom: 150px;
	max-width: 250px;
	height: auto;
}

.accordion-heading {
	border-radius: 0;
	border: 0;
	background-color: #005edd;
	width: 100%;
	text-align: left;
	font-size: 1.2em;
	padding: 10px 15px;
	color: #ffffff;
	margin-top: 3px;
}

	.accordion-heading:hover, .accordion-heading:focus {
		background-color: #000000;
		color: #ffffff;
	}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	color: #333333;
}

.btn-info.focus, .btn-info:focus {
	background-color: #000000;
	border: 0;
	color: #ffffff;
}

.list-group {
	border: 0;
	border-radius: 0;
	max-height: 250px;
	overflow-y: auto;
}

.list-group-fluid {
	max-height: 100%;
}

a.list-group-item {
	border-radius: 0;
	color: #FC9000;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: #dedede;
	border: 0;
}

.list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.txt-small {
	font-size: 0.8em;
	color: #999999;
}

.time-set {
	text-align: right;
	margin: 0 15px 15px 0;
}

.btn-group {
	border: 0;
}

	.btn-group .btn-am {
		background-color: #005edd;
		width: 80px;
		color: #ffffff;
		border: 0;
	}

	.btn-group .btn-pm {
		background-color: #FC9000;
		width: 80px;
		color: #ffffff;
		border: 0;
	}

		.btn-group .btn-pm:active, .btn-group .btn-am:active,
		.btn-group .btn-pm:hover, .btn-group .btn-am:hover {
			background-color: #000000;
			border: 0;
		}

.btn-navbar {
	padding: 5px 0 20px 0;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 45px;
	text-align: center;
	-webkit-box-shadow: 0px -7px 29px 0px rgba(0,0,0,0.09);
	-moz-box-shadow: 0px -7px 29px 0px rgba(0,0,0,0.09);
	box-shadow: 0px -7px 29px 0px rgba(0,0,0,0.09);
	background-color: #ffffff;
	z-index: 999;
}

.btn-nav {
	font-size: 1em;
	color: #333333;
	padding: 6px 20px 12px 20px;
	text-transform: uppercase;
}

	.btn-nav:hover {
		color: #005edd;
	}
/* style utility */
.buffer-top-xs {
	margin-top: 10px;
}

.buffer-top-sm {
	margin-top: 20px;
}

.buffer-top-md {
	margin-top: 30px;
}

.buffer-top-lg {
	margin-top: 40px;
}

.buffer-top-xlg {
	margin-top: 60px;
}

.buffer-top-xxlg {
	margin-top: 80px;
}

.buffer-bottom-xs {
	margin-bottom: 10px;
}

.buffer-bottom-sm {
	margin-bottom: 20px;
}

.buffer-bottom-md {
	margin-bottom: 30px;
}

.buffer-bottom-lg {
	margin-bottom: 40px;
}

.buffer-bottom-xlg {
	margin-bottom: 60px;
}

.buffer-bottom-xxlg {
	margin-bottom: 80px;
}

.float-left {
	clear: both;
	float: left;
}

.float-right {
	clear: both;
	float: right;
}

/* coloured circle */
.circle-01 {
	background-color: #ffffff;
}

.circle-02 {
	background-color: #FF0000;
}

.circle-03 {
	background-color: #A00000;
}

.circle-04 {
	background-color: #FFD000;
}

.circle-05 {
	background-color: #FF8000;
}

.circle-06 {
	background-color: #40FF00;
}

.circle-07 {
	background-color: #00D000;
}

.circle-08 {
	background-color: #00FFC0;
}

.circle-09 {
	background-color: #00A0FF;
}

.circle-10 {
	background-color: #0080FF;
}

.circle-11 {
	background-color: #0000FF;
}

.circle-12 {
	background-color: #8000FF;
}

.circle-13 {
	background-color: #FF00FF;
}

.circle-14 {
	background-color: #FF0080;
}
